/*
 * Generated WAKILISHA compatibility layer for legacy ri-* callsites.
 * Remixicon 4.5.0 is Apache-2.0 licensed build-time source material only.
 * No Remixicon webfont or third-party runtime stylesheet is shipped.
 * See src/assets/icons/REMIXICON-LICENSE.txt.
 */
[class^="ri-"],[class*=" ri-"]{display:inline-block;width:1em;height:1em;line-height:1;vertical-align:-.125em;flex:0 0 auto}
[class^="ri-"]::before,[class*=" ri-"]::before{content:"";display:block;width:100%;height:100%;background-color:currentColor;-webkit-mask-image:url("../assets/icons/wakilisha-remixicon-mask.svg");mask-image:url("../assets/icons/wakilisha-remixicon-mask.svg");-webkit-mask-repeat:no-repeat;mask-repeat:no-repeat;-webkit-mask-size:1600% 1800%;mask-size:1600% 1800%;-webkit-mask-position:var(--wk-ri-position);mask-position:var(--wk-ri-position);mask-mode:alpha}
.ri-add-circle-line{--wk-ri-position:0% 0%}
.ri-add-line{--wk-ri-position:6.666667% 0%}
.ri-album-line{--wk-ri-position:13.333333% 0%}
.ri-alert-fill{--wk-ri-position:20% 0%}
.ri-alert-line{--wk-ri-position:26.666667% 0%}
.ri-align-center{--wk-ri-position:33.333333% 0%}
.ri-align-left{--wk-ri-position:40% 0%}
.ri-align-right{--wk-ri-position:46.666667% 0%}
.ri-anticlockwise-line{--wk-ri-position:53.333333% 0%}
.ri-apple-fill{--wk-ri-position:60% 0%}
.ri-apple-line{--wk-ri-position:66.666667% 0%}
.ri-archive-line{--wk-ri-position:73.333333% 0%}
.ri-arrow-down-line{--wk-ri-position:80% 0%}
.ri-arrow-down-s-line{--wk-ri-position:86.666667% 0%}
.ri-arrow-go-back-line{--wk-ri-position:93.333333% 0%}
.ri-arrow-left-line{--wk-ri-position:100% 0%}
.ri-arrow-left-right-line{--wk-ri-position:0% 5.882353%}
.ri-arrow-left-s-line{--wk-ri-position:6.666667% 5.882353%}
.ri-arrow-right-line{--wk-ri-position:13.333333% 5.882353%}
.ri-arrow-right-s-line{--wk-ri-position:20% 5.882353%}
.ri-arrow-right-up-line{--wk-ri-position:26.666667% 5.882353%}
.ri-arrow-up-down-line{--wk-ri-position:33.333333% 5.882353%}
.ri-arrow-up-line{--wk-ri-position:40% 5.882353%}
.ri-arrow-up-s-line{--wk-ri-position:46.666667% 5.882353%}
.ri-article-line{--wk-ri-position:53.333333% 5.882353%}
.ri-aspect-ratio-line{--wk-ri-position:60% 5.882353%}
.ri-at-line{--wk-ri-position:66.666667% 5.882353%}
.ri-bar-chart-2-line{--wk-ri-position:73.333333% 5.882353%}
.ri-bar-chart-box-line{--wk-ri-position:80% 5.882353%}
.ri-bar-chart-grouped-line{--wk-ri-position:86.666667% 5.882353%}
.ri-bar-chart-line{--wk-ri-position:93.333333% 5.882353%}
.ri-barcode-line{--wk-ri-position:100% 5.882353%}
.ri-book-open-line{--wk-ri-position:0% 11.764706%}
.ri-bookmark-fill{--wk-ri-position:6.666667% 11.764706%}
.ri-bookmark-line{--wk-ri-position:13.333333% 11.764706%}
.ri-broadcast-line{--wk-ri-position:20% 11.764706%}
.ri-building-2-line{--wk-ri-position:26.666667% 11.764706%}
.ri-building-line{--wk-ri-position:33.333333% 11.764706%}
.ri-calendar-2-line{--wk-ri-position:40% 11.764706%}
.ri-calendar-event-line{--wk-ri-position:46.666667% 11.764706%}
.ri-calendar-line{--wk-ri-position:53.333333% 11.764706%}
.ri-calendar-todo-line{--wk-ri-position:60% 11.764706%}
.ri-camera-lens-line{--wk-ri-position:66.666667% 11.764706%}
.ri-camera-line{--wk-ri-position:73.333333% 11.764706%}
.ri-chat-1-line{--wk-ri-position:80% 11.764706%}
.ri-chat-3-line{--wk-ri-position:86.666667% 11.764706%}
.ri-chat-off-line{--wk-ri-position:93.333333% 11.764706%}
.ri-check-double-line{--wk-ri-position:100% 11.764706%}
.ri-check-line{--wk-ri-position:0% 17.647059%}
.ri-checkbox-blank-circle-fill{--wk-ri-position:6.666667% 17.647059%}
.ri-checkbox-circle-fill{--wk-ri-position:13.333333% 17.647059%}
.ri-checkbox-circle-line{--wk-ri-position:20% 17.647059%}
.ri-circle-line{--wk-ri-position:26.666667% 17.647059%}
.ri-clockwise-line{--wk-ri-position:33.333333% 17.647059%}
.ri-close-circle-fill{--wk-ri-position:40% 17.647059%}
.ri-close-circle-line{--wk-ri-position:46.666667% 17.647059%}
.ri-close-line{--wk-ri-position:53.333333% 17.647059%}
.ri-cloud-line{--wk-ri-position:60% 17.647059%}
.ri-code-box-line{--wk-ri-position:66.666667% 17.647059%}
.ri-compass-3-line{--wk-ri-position:73.333333% 17.647059%}
.ri-compass-line{--wk-ri-position:80% 17.647059%}
.ri-compasses-2-line{--wk-ri-position:86.666667% 17.647059%}
.ri-contract-up-down-line{--wk-ri-position:93.333333% 17.647059%}
.ri-copyright-line{--wk-ri-position:100% 17.647059%}
.ri-crop-line{--wk-ri-position:0% 23.529412%}
.ri-cursor-line{--wk-ri-position:6.666667% 23.529412%}
.ri-customer-service-2-line{--wk-ri-position:13.333333% 23.529412%}
.ri-database-2-line{--wk-ri-position:20% 23.529412%}
.ri-delete-bin-6-line{--wk-ri-position:26.666667% 23.529412%}
.ri-delete-bin-line{--wk-ri-position:33.333333% 23.529412%}
.ri-disc-line{--wk-ri-position:40% 23.529412%}
.ri-double-quotes-l{--wk-ri-position:46.666667% 23.529412%}
.ri-download-2-line{--wk-ri-position:53.333333% 23.529412%}
.ri-download-cloud-line{--wk-ri-position:60% 23.529412%}
.ri-download-line{--wk-ri-position:66.666667% 23.529412%}
.ri-draft-line{--wk-ri-position:73.333333% 23.529412%}
.ri-draggable{--wk-ri-position:80% 23.529412%}
.ri-earth-line{--wk-ri-position:86.666667% 23.529412%}
.ri-edit-2-line{--wk-ri-position:93.333333% 23.529412%}
.ri-edit-line{--wk-ri-position:100% 23.529412%}
.ri-emotion-happy-line{--wk-ri-position:0% 29.411765%}
.ri-emotion-line{--wk-ri-position:6.666667% 29.411765%}
.ri-equalizer-line{--wk-ri-position:13.333333% 29.411765%}
.ri-error-warning-fill{--wk-ri-position:20% 29.411765%}
.ri-error-warning-line{--wk-ri-position:26.666667% 29.411765%}
.ri-expand-diagonal-line{--wk-ri-position:33.333333% 29.411765%}
.ri-external-link-line{--wk-ri-position:40% 29.411765%}
.ri-eye-line{--wk-ri-position:46.666667% 29.411765%}
.ri-eye-off-line{--wk-ri-position:53.333333% 29.411765%}
.ri-facebook-circle-line{--wk-ri-position:60% 29.411765%}
.ri-facebook-fill{--wk-ri-position:66.666667% 29.411765%}
.ri-facebook-line{--wk-ri-position:73.333333% 29.411765%}
.ri-file-copy-line{--wk-ri-position:80% 29.411765%}
.ri-file-edit-line{--wk-ri-position:86.666667% 29.411765%}
.ri-file-line{--wk-ri-position:93.333333% 29.411765%}
.ri-file-list-3-line{--wk-ri-position:100% 29.411765%}
.ri-file-list-line{--wk-ri-position:0% 35.294118%}
.ri-file-music-line{--wk-ri-position:6.666667% 35.294118%}
.ri-file-pdf-2-line{--wk-ri-position:13.333333% 35.294118%}
.ri-file-search-line{--wk-ri-position:20% 35.294118%}
.ri-file-text-line{--wk-ri-position:26.666667% 35.294118%}
.ri-file-warning-line{--wk-ri-position:33.333333% 35.294118%}
.ri-film-line{--wk-ri-position:40% 35.294118%}
.ri-fingerprint-line{--wk-ri-position:46.666667% 35.294118%}
.ri-fire-line{--wk-ri-position:53.333333% 35.294118%}
.ri-flag-fill{--wk-ri-position:60% 35.294118%}
.ri-flag-line{--wk-ri-position:66.666667% 35.294118%}
.ri-flashlight-line{--wk-ri-position:73.333333% 35.294118%}
.ri-flask-line{--wk-ri-position:80% 35.294118%}
.ri-focus-3-line{--wk-ri-position:86.666667% 35.294118%}
.ri-folder-add-line{--wk-ri-position:93.333333% 35.294118%}
.ri-folder-line{--wk-ri-position:100% 35.294118%}
.ri-folder-music-line{--wk-ri-position:0% 41.176471%}
.ri-folder-open-line{--wk-ri-position:6.666667% 41.176471%}
.ri-folder-upload-line{--wk-ri-position:13.333333% 41.176471%}
.ri-folder-video-line{--wk-ri-position:20% 41.176471%}
.ri-forbid-2-line{--wk-ri-position:26.666667% 41.176471%}
.ri-forbid-line{--wk-ri-position:33.333333% 41.176471%}
.ri-forward-10-line{--wk-ri-position:40% 41.176471%}
.ri-fullscreen-exit-line{--wk-ri-position:46.666667% 41.176471%}
.ri-fullscreen-line{--wk-ri-position:53.333333% 41.176471%}
.ri-git-branch-line{--wk-ri-position:60% 41.176471%}
.ri-git-merge-line{--wk-ri-position:66.666667% 41.176471%}
.ri-git-pull-request-line{--wk-ri-position:73.333333% 41.176471%}
.ri-global-line{--wk-ri-position:80% 41.176471%}
.ri-group-line{--wk-ri-position:86.666667% 41.176471%}
.ri-hashtag{--wk-ri-position:93.333333% 41.176471%}
.ri-headphone-line{--wk-ri-position:100% 41.176471%}
.ri-heart-line{--wk-ri-position:0% 47.058824%}
.ri-heart-pulse-line{--wk-ri-position:6.666667% 47.058824%}
.ri-history-fill{--wk-ri-position:13.333333% 47.058824%}
.ri-history-line{--wk-ri-position:20% 47.058824%}
.ri-home-5-line{--wk-ri-position:26.666667% 47.058824%}
.ri-image-add-line{--wk-ri-position:33.333333% 47.058824%}
.ri-image-line{--wk-ri-position:40% 47.058824%}
.ri-inbox-line{--wk-ri-position:46.666667% 47.058824%}
.ri-information-fill{--wk-ri-position:53.333333% 47.058824%}
.ri-information-line{--wk-ri-position:60% 47.058824%}
.ri-instagram-line{--wk-ri-position:66.666667% 47.058824%}
.ri-key-line{--wk-ri-position:73.333333% 47.058824%}
.ri-layout-grid-line{--wk-ri-position:80% 47.058824%}
.ri-lightbulb-line{--wk-ri-position:86.666667% 47.058824%}
.ri-line-chart-line{--wk-ri-position:93.333333% 47.058824%}
.ri-link{--wk-ri-position:100% 47.058824%}
.ri-link-m{--wk-ri-position:0% 52.941176%}
.ri-linkedin-box-line{--wk-ri-position:6.666667% 52.941176%}
.ri-linkedin-fill{--wk-ri-position:13.333333% 52.941176%}
.ri-linkedin-line{--wk-ri-position:20% 52.941176%}
.ri-links-line{--wk-ri-position:26.666667% 52.941176%}
.ri-list-check{--wk-ri-position:33.333333% 52.941176%}
.ri-list-check-2{--wk-ri-position:40% 52.941176%}
.ri-list-ordered{--wk-ri-position:46.666667% 52.941176%}
.ri-list-unordered{--wk-ri-position:53.333333% 52.941176%}
.ri-loader-2-line{--wk-ri-position:60% 52.941176%}
.ri-loader-4-line{--wk-ri-position:66.666667% 52.941176%}
.ri-lock-2-line{--wk-ri-position:73.333333% 52.941176%}
.ri-lock-line{--wk-ri-position:80% 52.941176%}
.ri-lock-unlock-line{--wk-ri-position:86.666667% 52.941176%}
.ri-login-box-line{--wk-ri-position:93.333333% 52.941176%}
.ri-logout-box-line{--wk-ri-position:100% 52.941176%}
.ri-logout-box-r-line{--wk-ri-position:0% 58.823529%}
.ri-mail-add-line{--wk-ri-position:6.666667% 58.823529%}
.ri-mail-line{--wk-ri-position:13.333333% 58.823529%}
.ri-mail-send-line{--wk-ri-position:20% 58.823529%}
.ri-mail-unread-line{--wk-ri-position:26.666667% 58.823529%}
.ri-map-2-line{--wk-ri-position:33.333333% 58.823529%}
.ri-map-line{--wk-ri-position:40% 58.823529%}
.ri-map-pin-line{--wk-ri-position:46.666667% 58.823529%}
.ri-menu-line{--wk-ri-position:53.333333% 58.823529%}
.ri-message-3-line{--wk-ri-position:60% 58.823529%}
.ri-messenger-line{--wk-ri-position:66.666667% 58.823529%}
.ri-mic-line{--wk-ri-position:73.333333% 58.823529%}
.ri-moon-line{--wk-ri-position:80% 58.823529%}
.ri-more-2-fill{--wk-ri-position:86.666667% 58.823529%}
.ri-more-2-line{--wk-ri-position:93.333333% 58.823529%}
.ri-more-fill{--wk-ri-position:100% 58.823529%}
.ri-more-line{--wk-ri-position:0% 64.705882%}
.ri-music-2-line{--wk-ri-position:6.666667% 64.705882%}
.ri-music-line{--wk-ri-position:13.333333% 64.705882%}
.ri-newspaper-line{--wk-ri-position:20% 64.705882%}
.ri-notification-3-line{--wk-ri-position:26.666667% 64.705882%}
.ri-pages-line{--wk-ri-position:33.333333% 64.705882%}
.ri-palette-line{--wk-ri-position:40% 64.705882%}
.ri-pause-fill{--wk-ri-position:46.666667% 64.705882%}
.ri-pause-line{--wk-ri-position:53.333333% 64.705882%}
.ri-pencil-line{--wk-ri-position:60% 64.705882%}
.ri-pie-chart-2-fill{--wk-ri-position:66.666667% 64.705882%}
.ri-pinterest-line{--wk-ri-position:73.333333% 64.705882%}
.ri-play-circle-line{--wk-ri-position:80% 64.705882%}
.ri-play-fill{--wk-ri-position:86.666667% 64.705882%}
.ri-play-line{--wk-ri-position:93.333333% 64.705882%}
.ri-play-list-add-line{--wk-ri-position:100% 64.705882%}
.ri-play-list-line{--wk-ri-position:0% 70.588235%}
.ri-play-mini-fill{--wk-ri-position:6.666667% 70.588235%}
.ri-price-tag-3-line{--wk-ri-position:13.333333% 70.588235%}
.ri-printer-line{--wk-ri-position:20% 70.588235%}
.ri-pulse-line{--wk-ri-position:26.666667% 70.588235%}
.ri-pushpin-line{--wk-ri-position:33.333333% 70.588235%}
.ri-question-answer-line{--wk-ri-position:40% 70.588235%}
.ri-question-line{--wk-ri-position:46.666667% 70.588235%}
.ri-radar-line{--wk-ri-position:53.333333% 70.588235%}
.ri-radio-2-line{--wk-ri-position:60% 70.588235%}
.ri-radio-line{--wk-ri-position:66.666667% 70.588235%}
.ri-reddit-line{--wk-ri-position:73.333333% 70.588235%}
.ri-refresh-line{--wk-ri-position:80% 70.588235%}
.ri-repeat-2-line{--wk-ri-position:86.666667% 70.588235%}
.ri-repeat-line{--wk-ri-position:93.333333% 70.588235%}
.ri-repeat-one-line{--wk-ri-position:100% 70.588235%}
.ri-replay-10-line{--wk-ri-position:0% 76.470588%}
.ri-reply-line{--wk-ri-position:6.666667% 76.470588%}
.ri-restart-line{--wk-ri-position:13.333333% 76.470588%}
.ri-rewind-line{--wk-ri-position:20% 76.470588%}
.ri-rocket-line{--wk-ri-position:26.666667% 76.470588%}
.ri-route-line{--wk-ri-position:33.333333% 76.470588%}
.ri-safe-2-line{--wk-ri-position:40% 76.470588%}
.ri-save-line{--wk-ri-position:46.666667% 76.470588%}
.ri-search-eye-line{--wk-ri-position:53.333333% 76.470588%}
.ri-search-line{--wk-ri-position:60% 76.470588%}
.ri-send-plane-fill{--wk-ri-position:66.666667% 76.470588%}
.ri-send-plane-line{--wk-ri-position:73.333333% 76.470588%}
.ri-settings-3-line{--wk-ri-position:80% 76.470588%}
.ri-share-forward-line{--wk-ri-position:86.666667% 76.470588%}
.ri-share-line{--wk-ri-position:93.333333% 76.470588%}
.ri-shield-check-line{--wk-ri-position:100% 76.470588%}
.ri-shield-keyhole-line{--wk-ri-position:0% 82.352941%}
.ri-shield-user-fill{--wk-ri-position:6.666667% 82.352941%}
.ri-shuffle-line{--wk-ri-position:13.333333% 82.352941%}
.ri-skip-back-fill{--wk-ri-position:20% 82.352941%}
.ri-skip-back-mini-fill{--wk-ri-position:26.666667% 82.352941%}
.ri-skip-forward-fill{--wk-ri-position:33.333333% 82.352941%}
.ri-skip-forward-mini-fill{--wk-ri-position:40% 82.352941%}
.ri-smartphone-line{--wk-ri-position:46.666667% 82.352941%}
.ri-sort-alphabet-asc{--wk-ri-position:53.333333% 82.352941%}
.ri-soundcloud-line{--wk-ri-position:60% 82.352941%}
.ri-spam-2-line{--wk-ri-position:66.666667% 82.352941%}
.ri-spam-line{--wk-ri-position:73.333333% 82.352941%}
.ri-sparkling-line{--wk-ri-position:80% 82.352941%}
.ri-spotify-fill{--wk-ri-position:86.666667% 82.352941%}
.ri-spotify-line{--wk-ri-position:93.333333% 82.352941%}
.ri-stack-line{--wk-ri-position:100% 82.352941%}
.ri-star-line{--wk-ri-position:0% 88.235294%}
.ri-star-smile-line{--wk-ri-position:6.666667% 88.235294%}
.ri-subtract-line{--wk-ri-position:13.333333% 88.235294%}
.ri-sun-line{--wk-ri-position:20% 88.235294%}
.ri-telegram-line{--wk-ri-position:26.666667% 88.235294%}
.ri-threads-line{--wk-ri-position:33.333333% 88.235294%}
.ri-tiktok-line{--wk-ri-position:40% 88.235294%}
.ri-time-fill{--wk-ri-position:46.666667% 88.235294%}
.ri-time-line{--wk-ri-position:53.333333% 88.235294%}
.ri-timer-line{--wk-ri-position:60% 88.235294%}
.ri-trophy-line{--wk-ri-position:66.666667% 88.235294%}
.ri-twitter-x-line{--wk-ri-position:73.333333% 88.235294%}
.ri-upload-cloud-2-line{--wk-ri-position:80% 88.235294%}
.ri-upload-cloud-line{--wk-ri-position:86.666667% 88.235294%}
.ri-user-3-line{--wk-ri-position:93.333333% 88.235294%}
.ri-user-add-line{--wk-ri-position:100% 88.235294%}
.ri-user-follow-line{--wk-ri-position:0% 94.117647%}
.ri-user-heart-line{--wk-ri-position:6.666667% 94.117647%}
.ri-user-line{--wk-ri-position:13.333333% 94.117647%}
.ri-user-search-line{--wk-ri-position:20% 94.117647%}
.ri-user-settings-line{--wk-ri-position:26.666667% 94.117647%}
.ri-user-smile-line{--wk-ri-position:33.333333% 94.117647%}
.ri-user-star-line{--wk-ri-position:40% 94.117647%}
.ri-user-unfollow-line{--wk-ri-position:46.666667% 94.117647%}
.ri-user-voice-line{--wk-ri-position:53.333333% 94.117647%}
.ri-video-add-line{--wk-ri-position:60% 94.117647%}
.ri-video-line{--wk-ri-position:66.666667% 94.117647%}
.ri-vimeo-fill{--wk-ri-position:73.333333% 94.117647%}
.ri-vip-crown-2-fill{--wk-ri-position:80% 94.117647%}
.ri-vip-crown-line{--wk-ri-position:86.666667% 94.117647%}
.ri-volume-mute-line{--wk-ri-position:93.333333% 94.117647%}
.ri-volume-up-line{--wk-ri-position:100% 94.117647%}
.ri-whatsapp-line{--wk-ri-position:0% 100%}
.ri-wifi-off-line{--wk-ri-position:6.666667% 100%}
.ri-youtube-fill{--wk-ri-position:13.333333% 100%}
.ri-youtube-line{--wk-ri-position:20% 100%}
